.modelImg {
    height: 300px;
    width: 1000px;
}

.chooseModel {   
    margin-top: 125px;
    
 }

.row {
    
    margin: 0 auto;
    
    
}

.imgPath {

    height: 500px;
    width: 1000px;
}


#izborSmjeraModel1 {
    display: none;
}

#izborSmjeraModel2 {
    display: none;
}


.imgPathCalc {
    height: 350px;
    width: 1000px;
    position: relative;
    left: 50px;
}

.resultat {
    padding-top: 20px;
    border-radius: 2%;
    height: 400px;
    border: 1px solid black;
    background: lightgrey;
}

.e {
    border: 1px solid gray;
    padding: 5px 10px;
    background: #ff475d;
    width: 100%;
    margin: 10px 0;
}

.model2btns {
    margin-top: 2rem;
    margin-right: 1rem;
}

input::placeholder {
    color: #8f9e82 !important;
}


input {
    color: black !important;
}