#content {
    display: table;
    margin:  auto;
}

#about {
    display: table;
    margin: 0 auto;
}

#calc {
    display: table;
    margin: 0 auto;
}

@media only screen and (min-height: 500px) {
    #content {
        margin-top: 2rem !important;
    }
    img {
        height: 400px;
        width: 400px;
    }
}

@media only screen and (min-height: 600px) {
    img {
        height: 480px;
        width: 480px;
        margin: auto;
    }
}

@media only screen and (min-height: 800px) {
    img {
        height: 660px;
        width: 660px;
        margin: auto;
    }
}

