#content {
    display: table;
    margin:  auto;
}

#about {
    display: table;
    margin: 0 auto;
}

#calc {
    display: table;
    margin: 0 auto;
}

@media only screen and (min-width: 1200px) {
    img {
        height: 480px;
        width: 480px;
        margin: auto;
    }
}

@media only screen and (min-width: 1600px) {
    img {
        height: 660px;
        width: 660px;
        margin: auto;
    }
}