.modelImg {
    height: 300px;
    width: 1000px;
}

.chooseModel {   
    margin-top: 125px;
    
 }

.row {
    
    margin: 0 auto;
    
    
}

.imgPath {

    height: 500px;
    width: 1000px;
}


#izborSmjeraModel1 {
    display: none;
}

#izborSmjeraModel2 {
    display: none;
}


.imgPathCalc {
    height: 350px;
    width: 1000px;
    position: relative;
    left: 50px;
}